*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(kotak\ kotak\ biru.jpg);
}
.atas {
    background-color: rgba(131, 193, 255, 0.511);
    width: 1000px,1300px;
}
.bawah {
    background-color:midnightblue;
    width: 100%;
    padding: 30px; 
    position: fixed;
    bottom: 0px;
}
 
